<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Fortune Teller</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
  </head>

  <body>
    <h1>Welcome to the Fortune Teller!</h1>
    <p> Please enter your name </p>
    <form method=POST>
      <input type="text" mane="user">
      <br>
      <input type="submit" value="GET YOUR FORTUNE!!">
    </form>
  </body>
</html>